/*
____________________________________________________
Menu style
____________________________________________________
*/

li {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    display: inline;
    float: left;
    padding: 0.5rem 2rem 0rem 2rem;
}

ul {
    background-color: #0b130e;
    list-style-type: none;
    margin: 0rem;
    padding: 1rem 2rem 5rem 2rem;
}

.TabClassifier {
    font-size: 2.5rem;
}

.exp {
    float: left;
}

/* #map {

} */

/*
____________________________________________________
Font style
____________________________________________________
*/

h1 {
    font-size: 3.5rem;
}

p {
    font-size: 2rem;
}

/*
--------------------------------------------------------------
Page styles
--------------------------------------------------------------
*/

.AdminContentPageStyle {
    padding: 0rem 20rem 0rem 20rem;
}

.ChartsPageStyle {
    padding: 2rem;
    padding: 0rem 20rem 0rem 20rem;
    right: -10%;
    bottom: 10%;
    text-align: center;
}

.AboutPageStyle {
    bottom: 0;
    right: 0;
    top: 0;
    padding: 20rem;
    margin-top: 2rem;
}

/*
---------------------------------------------------
Team tab style
---------------------------------------------------
*/

.TeammateStyle {
    background-color: rgb(109, 104, 104);
    border-radius: 50%;
    padding: 5rem 10rem;
    margin: 0.5rem;
    text-align: justify;
}

.TeamPicStyle {
    font-size: 4.1rem;
}

.TeamFontStyle {
    font-family: 'Estonia', cursive;
}

.TeamHandle {
    background-color: rgba(156, 111, 156, 0.705);
}

.editButton {
    font-size: 2rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.2rem;
    border: 0.00001px thin #0b130e;
}

/*
---------------------------------------------------
Charts tab style
---------------------------------------------------
*/

.DataMetricsStyle {
    margin-left: 10rem;
}

.PanelLeft1,
.PanelLeft2,
.PanelRight1,
.PanelRight2 {
    background-color: rgba(156, 111, 156, 0.705);
    text-align: left;
    color: #ffffff;
    padding: 0rem 20rem 0rem 20rem;
    margin: 0.2rem;
}

.PanelLeft1 {
    background-color: rgba(65, 160, 238, 0.705);
}
.PanelLeft2 {
    background-color: rgba(238, 65, 94, 0.705);
}
.PanelRight1 {
    background-color: rgba(18, 119, 5, 0.705);
}

.PanelRight2 {
    background-color: rgba(224, 65, 238, 0.705);
}
